

#nav-bar {
    background-color: #0a472e;
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 2%;
}

#menu {
    display: flex;
    height: 60%;
    align-items: center;
    gap: 10px;
    padding-right: 60px;
    margin-right: 60px;
    border-right: 1px solid #3b6c58;
}

#menu img, #nav-items img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(105%) contrast(500%);
}

#nav-items {
    display: flex;
    gap: 25px;
    font-weight: 700;
}
#nav-items span {
    display: flex;
    align-items: center;
}
#nav-items span img {
    width: 15px;
}